bootstrap.servers=adapted-skunk-13673-eu2-kafka.upstash.io:9092
sasl.mechanism=SCRAM-SHA-256
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
  username="YWRhcHRlZC1za3Vuay0xMzY3MyRepL_D1cHYF8mA6Rfb9oA4nNpxoUAAetcqc3U" \
  password="YWI5MDhhNzEtMGRlMS00YzBjLWJjMzQtZGVjZWM4MTA5ZDI2";